<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- DataBase connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/helloworld</property>
		<property name="connection.username">user1</property>
		<property name="connection.password">user1pass</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Echo all executed SQL to stdout -->
		<!-- property name="show_sql">true</property -->
		
		<!-- Drop and re-create the database schema on startup, deleting all data in tables -->
        <!-- property name="hbm2ddl.auto">create</property -->
        <!-- Create if not exist or update database tables automatically using mapping metadata -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Using hbm mapping file (XML-based metadata) -->
		<!-- mapping resource="com/jorge/bean/Message.hbm.xml"/ --> 
		
		<!--  Using JPA annotations (annotation-based metadata) -->
		<mapping class="com.jorge.entity.Student"/>
		<mapping class="com.jorge.entity.Guide"/>
		
	</session-factory>
</hibernate-configuration>